body{
margin:0;
padding:0;
background:#050816;
font-family:Arial;
color:white;
}

.container{
padding:20px;
}

h1{
text-align:center;
color:#00ffcc;
}

.top{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
}

.box{
background:#111c44;
padding:20px;
border-radius:15px;
}

.box p{
font-size:28px;
font-weight:bold;
}

.digitBox{
margin-top:20px;
background:#111c44;
padding:20px;
border-radius:15px;
text-align:center;
}

#digit{
font-size:80px;
font-weight:bold;
color:#00ffcc;
}

.chart{
margin-top:20px;
height:220px;
display:flex;
align-items:flex-end;
gap:8px;
background:#111c44;
padding:15px;
border-radius:15px;
}

.bar{
flex:1;
background:#00cc66;
height:20px;
border-radius:8px;
display:flex;
justify-content:center;
align-items:flex-end;
padding-bottom:10px;
}

.controls{
margin-top:20px;
display:flex;
flex-direction:column;
gap:10px;
}

input,select{
padding:15px;
border:none;
border-radius:10px;
background:#111c44;
color:white;
font-size:18px;
}

button{
padding:15px;
border:none;
border-radius:10px;
font-size:18px;
font-weight:bold;
cursor:pointer;
}

#start{
background:#00cc66;
color:white;
}

#stop{
background:red;
color:white;
}

.logs{
margin-top:20px;
background:#111c44;
padding:15px;
height:250px;
overflow:auto;
border-radius:15px;
}